<!--<div class="col-lg-6 col-md-12">-->
<div class="card">
  <div class="card-header card-header-warning">
    <h4 (click)="showTasksByTasks()" class="card-title pointer">List Tasks</h4>
    <p class="card-category">I do it. Don't worry, be happy!</p>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Приоритет</th>
      <th>Дата</th>
      <th>Статус</th>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{i + 1}}</td>
        <td>{{task.title}}</td>
        <td>{{task.category != null ? task.category.title : 'Без категории'}}</td>
        <td>{{task.priority != null ? task.priority.title : 'Без приоритета'}}</td>
        <td>{{task.date != null ? (task.date | date: 'short') : 'Без даты'}}</td>
        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input [checked]="task.completed == true" checked class="form-check-input" type="checkbox" value="">
              <span class="form-check-sign">
              <span class="check"></span>
              </span>

            </label>
          </div>
        </td>
      </tr>
      <!--        <tr>-->
      <!--          <td>2</td>-->
      <!--          <td>Minerva Hooper</td>-->
      <!--          <td>$23,789</td>-->
      <!--          <td>Curaçao</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>3</td>-->
      <!--          <td>Sage Rodriguez</td>-->
      <!--          <td>$56,142</td>-->
      <!--          <td>Netherlands</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>4</td>-->
      <!--          <td>Philip Chaney</td>-->
      <!--          <td>$38,735</td>-->
      <!--          <td>Korea, South</td>-->
      <!--        </tr>-->
      </tbody>
    </table>
  </div>
</div>
<!--</div>-->
