<!--<div class="col-lg-6 col-md-12">-->
<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">List Tasks</h4>
    <p class="card-category">I do it. Don't worry, be happy!</p>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Приоритет</th>
      <th>Статус</th>
      <th>Дата</th>
      </thead>
      <tbody>
      <tr *ngFor="let tasks of task">
        <td>{{tasks.id}}</td>
        <td>{{tasks.title}}</td>
        <td>{{tasks.category}}</td>
        <td>{{tasks.priority}}</td>
        <td>{{tasks.completed}}</td>
        <td>{{tasks.date}}</td>
      </tr>
      <!--        <tr>-->
      <!--          <td>2</td>-->
      <!--          <td>Minerva Hooper</td>-->
      <!--          <td>$23,789</td>-->
      <!--          <td>Curaçao</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>3</td>-->
      <!--          <td>Sage Rodriguez</td>-->
      <!--          <td>$56,142</td>-->
      <!--          <td>Netherlands</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>4</td>-->
      <!--          <td>Philip Chaney</td>-->
      <!--          <td>$38,735</td>-->
      <!--          <td>Korea, South</td>-->
      <!--        </tr>-->
      </tbody>
    </table>
  </div>
</div>
<!--</div>-->
